node_modules/
.next/
backend/data/*.db
backend/data/*.db-wal
backend/data/*.db-shm
*.log
*.tsbuildinfo
node_modules
.env
.env.local
.env.production
.backup.env
SyncNo/*
backend/data/json_export/
.restic-password